@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600&display=swap");
div.block-title {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: white;
  font-size: clamp(0.3rem, 10vw, 0.9rem);
  line-height: 15px;

  margin: 4px 4px 4px 5px;
  /* overflow-wrap: break-word; */
}
