@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600&display=swap");

div.tooltip {
  position: absolute;
  text-align: left;
  font-family: Inter;
  line-height: 22px;
  font-size: clamp(0.4rem, 0.5vw, 0.5rem);
  padding: 0.3rem 0.6rem;
  background: white;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
  color: black;
  border: 1px solid blue;
  border-radius: 4px;
  pointer-events: none;
}

div.block-title {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  animation: fadeIn;
  animation-duration: 4s;
  color: rgb(255, 255, 255);
  font-size: clamp(0.6rem, 2vw, 0.9rem);
  line-height: 15px;
  margin: 4px 4px 4px 5px;
}

div.block-title-earnings {
  font-size: clamp(0.4rem, 0.5vw, 0.5rem);
}

.block-type-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: black;
  font-size: clamp(0.6rem, 2vw, 0.9rem);
}
